<h1>Listing medical_events</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Description</th>
      <th>Occurred at</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_events.each do |medical_event| %>
      <tr>
        <td><%= medical_event.summary %></td>
        <td><%= medical_event.description %></td>
        <td><%= medical_event.occurred_at %></td>
        <td><%= medical_event.user %></td>
        <td><%= link_to 'Show', medical_event %></td>
        <td><%= link_to 'Edit', edit_medical_event_path(medical_event) %></td>
        <td><%= link_to 'Destroy', medical_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical event', new_medical_event_path %>
