<%= form_for(@user_detail) do |f| %>

  <% if @user_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_detail.errors.count, "error") %> prohibited this user detail from being saved:</h2>
      <ul>
      <% @user_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :needs %><br>
    <%= f.text_field :needs %>
  </div>
  <div class="field">
    <%= f.label :carers %><br>
    <%= f.text_field :carers %>
  </div>
  <div class="field">
    <%= f.label :cares_for %><br>
    <%= f.text_area :cares_for %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>